@font-face{
font-family:colossalis;
src:url('Colossalis Bold.ttf');	
}

h1,h2,h3,h4,h5,h6{
color:#564647;
font-family:colossalis, impact, sans-serif;	
}

body{

border-top: 10px solid #72d0ca;	
color:#276ba2;
font-family:"Trebuchet MS", Tahama, Arail, sans-serif;

 background: -webkit-linear-gradient(#72d0ca, #56f1e7, #72d0ca); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#72d0ca, #56f1e7, #72d0ca); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#72d0ca, #56f1e7, #72d0ca); /* For Firefox 3.6 to 15 */
 background: linear-gradient(#72d0ca, #56f1e7, #72d0ca); /* Standard syntax */

/*#cbe1f4*/
}

@charset "utf-8";
/*high resolution, 1024px and above */
@media only screen and (min-width: 1024px) {

/*****************Container******************/


.shadow{
	-webkit-box-shadow:0px 0px 20px  #333333;
	-moz-box-shadow:0px 0px 20px #333333;
	box-shadow:0px 0px 20px #333333;
	
}

header{
text-align:center;	
}



#Banner{
	
width:100%;
text-align:center;
height:335px;
margin:0 auto;

}

#Banner img{
border-style:dashed;
border-radius:10px 10px 0 0;


}

#subcontainer{

width:100%;	
height:250px;
}

/* Navigation css code Start here */	
#nav{
/*border-style:dashed;*/
	width:275px;	
	float:left;
text-align:left;

}

#nav ul{

list-style:none;
 margin:25px 0 0  0px;


}


#nav ul li{
border-top:1px solid #BDc3c7;
padding:10px;
position:relative;
width:200px;
background-color:#34495e;
border-right:5px solid #f1c40f;

}
#nav > ul > li{
border-right:5px solid #f1c40fl;
}

#nav ul ul{
transition:all 0.9s;
left:85%;
text-outline: -185px;
top:-68px;
opacity:0;
position:absolute;
visibility:hidden;

}

#nav ul li:hover > ul {
	opacity:8;
	visibility:visible;
}
#nav ul li a{
color:#fff;
text-decoration:none;
text-align:left;	
margin-left:20px;
}

#nav a{
/*
width:161px;
transition: background-color .5s;	
-webkit-transition:background-color .5s;
-moz-transition:background-color .5s;
*/
text-decoration:none;
font-size:16px;
color:white;
transition: background-color .5s;	
-webkit-transition:background-color .5s;
-moz-transition:background-color .5s;

}



#nav a:hover{
background-color:white;
color:black;

	
}


ul#subnav li{
	
}



#subnav ul a {
	
text-decoration:none;
font-size:16px;
padding:15px;
color:black;
transition: background-color .5s;	
-webkit-transition:background-color .5s;
-moz-transition:background-color .5s;
width:100px;
}


/*Navigation css code ends here*/

#Container{

border-top:3px solid #FF0000;
text-align:center;
width:1080px;
background-color:white;
margin:0px auto;

}

/********** CONTENT SLIDER ************/

.Slider img{
	/*border-style:dashed;*/

	width:506px;
	height:185px;
	float:right;
	margin:50px 50px 0 0;

}


.mySlides{
	
border-radius:30px;	
}

.row {

margin:0px 10px 10px 40px;
text-align:left;
width:960px;
	
	
}
h3, h4{
	
	font-weight: normal;
}
p{
text-align:justify;	
text-indent: 50px;
}

/*Client details for About page */
#client{

width:760px;
text-align:center;
height:200px;	
margin:10px 10px 10px 75px;
	border:2px solid #eee;
}

footer{

width:1080px;
background-color:#000000;
height:70px;
margin:10px auto;

	
}
.social{
border-radius:10px 10px 10px 10px;
text-align:right;	
}
/*************Social Media ***********/
.social ul{
	list-style-type:none;
	padding-left:0px;
	margin-top:0;
	margin:0 0 0 30px;
}

.social p{
color:white;	
}
.social ul li{
display:inline-block;
	
}

.social p{
margin-bottom:2px;
text-align:right;	
}

.social  a i{
	color:White;
	text-decoration:none;
	font-size:2em;
	text-align:center;
	margin:0 10px 0 10px;
}


/***************************About Us CSS ************************/
.aboutcontent{

text-align:left;


}

#about{
	text-align:left;
	margin-top:20px;
	width:70%;
	margin-left:300px;
}
#value h3{
	
}

#value{
margin-top:35px;	
margin-left:80px;
width:90%;
text-align:left;	
}

#value > ul > li{
margin-bottom:10px;
font-size:20px;
}

#ITvalue{
margin-top:45px;	
margin-left:80px;
width:90%;
text-align:left;	
	
	
}

#ITvalue > ul > li{
margin-bottom:10px;
font-size:20px;
}


#electricalvalue{
	
margin-top:110px;	
margin-left:80px;
width:90%;
text-align:left;	
}

#electricalvalue > ul > li{
margin-bottom:10px;
font-size:20px;
}

#safety{
margin-top:145px;	
margin-left:80px;
width:90%;
text-align:left;	
}

#safety > ul > li{
margin-bottom:10px;
font-size:20px;
}

#training {
margin-top:90px;	
margin-left:80px;
width:90%;
text-align:left;
	
}

#training > ul > li{
margin-bottom:10px;
font-size:20px;

}

#Blog{
height:600px;	
	
}

/************************End of About Us Css style ****************/
/***********************Contact Us Css Style *******************/
.Contactus{
margin-top:50px;
text-align:left;	
	
}
/********************End Contact Us css Style************/
/********************IT*********************************/
.IT h1{
	text-align:left;
	
}
#Content{
text-align:left;
width:900px;
margin-left:42px;	
}
#Content h2{
	
text-align:left;
margin-top:110px;
margin-left:60px;
width:90%;
}

.ITh2{
	border-style:dashed;
margin-top:10px;	
}

#Content h1{
margin-top:40px;	
}

ul{
margin-left:80px;	
}

#Slideshow{
border-style:solid;
border-width:5px;
border-radius:8px;
width:800px;	
margin-left:140px;
height:auto;
}




#Content ul{
	
margin-bottom:40px;	
}

#Slideshow img{
	margin-top:10px;
background-color:#6968F0;
width:200px;
height:150px;
margin-left:20px;
padding:10px 10px 10px 10px;
border-radius:30px;
	
}






/****************** End IT *****************************/